<div class="home__container">

	<app-card
	gameLabel="Exlusivo"
	gameCover="assets/bt-1.jpg"
	gamePricing="122,90"
	gameType="DIGITAL PS5"
	>
	</app-card>

	<app-card
	gameLabel="Exlusivo"
	gameCover="assets/bt-5.jpg"
	gamePricing="242,90"
	gameType="DIGITAL PS4"
	>
	</app-card>

	<app-card
	gameLabel="Exlusivo"
	gameCover="assets/bt-4.jpg"
	gamePricing="150,90"
	gameType="DIGITAL PS5"
	>
	</app-card>
	<app-card
	gameLabel="CrossPlay"
	gameCover="assets/bt-hardline.jpg"
	gamePricing="140,90"
	gameType="DIGITAL PS4 PS5"
	>
	</app-card>

</div>
